*{
  margin: 0;
  padding: 0;
}

body{
  background-color:rgb(228, 228, 216);
}


div.container{
  display: flex;
  width: 800px;
  height: 350px;
  margin: 0 auto;
  background-color: rgb(77, 77, 76);
}

div.tela{
  width: 700px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #444;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
}

div.teclado {
  background-color:#444;
  margin: 20px 20px;
  border: 2px solid #fff;
}

div.teclado-linha{
  display: flex;
  justify-content: center;
}

div.botao{
  width: 60px;
  height: 40px;
  background-color:#fff;
  color: #000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #000;
}

div.botao-branco {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

div.botao-corrigir {
  background-color: rgb(248, 68, 68);
  color: #000;
  font-size: 12px;
  font-weight: bold;
  width: 65px;
}


div.botao-confirmar {
  background-color: rgb(98, 221, 98);
  color: #000;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
}

div.header {
  flex: 1;
}

div.footer{
  height:50px;
  font-size: 12px;
  border-top: 2px solid #444;
  padding-left: 10px;
}